<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @sale.product %>
</p>

<p>
  <b>Company:</b>
  <%= @sale.company %>
</p>


<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
